* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: #fefefe;
  --textColor: #000000;
  --filter: 0;
}

body {
  background: var(--bgColor);
  color: var(--textColor);
  height: 100vh;
  width: 100vw;
  font-family: 'roboto', sans-serif;
  overflow-x: hidden;
}

.theme-switcher {
  position: absolute;
  left: 90%;
  top: 7%;
  background: none;
  border: none;
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 0.75s;
}

.theme-switcher ion-icon {
  font-size: 64px;
  transform: rotate(180deg);
  color: var(--textColor);
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 100px;
}

.counter-bttns{
  display: flex;
  justify-content: space-evenly;
}

.counter-bttns button {
  border: none;
  background: none;
  margin: 0 20px;
}

.counter-controls{
  filter: var(--filter);
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.volume-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  padding: 50px;
}

.cards {
  text-align: center;
  height: 250px;
  width: 200px;
  box-shadow: 0 0 0 3.5px var(--textColor);
  padding: 50px;
}

.cards input {
  margin-top: 50px;
}

.card-icon {
  font-size: 80px;
}

.timer {
  display: flex;
  font-size: 200px;
  gap: 20px;
}

